---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

// Formatting

$base-font-family: "Pontano Sans", Helvetica, Arial, sans-serif;
$base-font-size: 1.1em;
$base-line-height: 1.5;

$text-color: #444444;
$background-color: #fefefe;
$main-color: #48dbdb;
$second-color: #92db48;

$gray: #666666;
$light-gray: lighten($gray, 40%);
$dark-gray: darken($gray, 40%);

// Layout

$medium: 600px;
$wide: 800px;

@mixin media-query($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@import 'base', 'layout', 'syntax';




