---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Miniver);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

// Formatting

$base-font-family: "Oxygen", Helvetica Neue, Helvetica, Arial, sans-serif;
$header-font: "Karla";
$base-font-size: 1em;
$base-line-height: 1.5;

$text-color: #444444;
$background-color: #fefefe;
$main-color: #48dbdb;
$second-color: #92db48;

$gray: #666666;
$light-gray: #ededed;
$dark-gray: darken($gray, 40%);

// Layout

$medium: 600px;
$wide: 930px;

@mixin media-query($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@import 'base', 'layout', 'syntax';




