<footer>
  <div class='row'>
    <div id='contact' class='col-6 col-m-12'>
      <ul>
        <li>{% include icon-github.html username=site.github_username %}</li>
        <li>{% include icon-twitter.html username=site.twitter_username %}</li>
        <li><a href='mailto:{{ site.email }}'>e-mail</a></li>
      </ul>
    </div>

    <div id='pages' class='col-3 col-m-6'>
      <ul>
        <li><a href='/about'>About</a></li>
      </ul>
    </div>

    <div id='copyright' class='col-3 col-m-6'>
      <p>&copy; {{ 'now' | date: "%Y" }}. Kira McLean</p>
    </div>
  </div>
</footer>