* {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

blockquote, q {
  quotes: none; }

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

section {
  max-width: 42em;
  margin: 3em 0;
  width: 80%; }
  @media screen and (min-width: 42em) {
    section {
      margin: 4.5em 0; } }

article time, article time + span, article time + span + p {
  display: inline-block;
  padding-bottom: 1.5em; }
  article time + span, article time + span + span, article time + span + p + span {
    padding: 0 0.75em; }

article nav {
  margin: 3em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blog-post {
  margin-bottom: 1.5em; }
  .blog-post h2 {
    padding: 0; }
  .blog-post p a, .blog-post p + a {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 0.75em;
    font-family: "Montserrat", Lucida Grande, Helvetica, sans-serif;
    font-size: 83%;
    color: rgba(68, 68, 68, 0.6); }
    .blog-post p a:hover, .blog-post p + a:hover {
      color: #444444;
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease; }

.project {
  margin-bottom: 1.5em; }
  .project h1 {
    font-size: 24px; }
  .project h2 {
    letter-spacing: 0;
    font-size: 16px;
    padding: 0.75em 0; }

html {
  height: 100vh; }

body {
  background-color: rgba(255, 255, 255, 0.3);
  color: #444444;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lora", Garamond, serif;
  -webkit-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Lucida Grande, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding-top: 0.75em; }
  h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    top: -2px; }

h1 {
  font-size: 25.6px; }
  @media screen and (min-width: 42em) {
    h1 {
      font-size: 43.2px; } }

h2 {
  font-size: 20.8px; }
  @media screen and (min-width: 42em) {
    h2 {
      font-size: 27.2px; } }

h3 {
  font-size: 16px; }
  @media screen and (min-width: 42em) {
    h3 {
      font-size: 17.6px; } }

section h1 {
  padding: 0; }

p {
  padding: 0.3em 0; }
  @media screen and (min-width: 42em) {
    p {
      padding: 0.8em 0;
      text-align: justify; } }

a, a:visited {
  border-bottom: 2px solid rgba(72, 219, 219, 0.3);
  color: #444444;
  text-decoration: none;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out; }
  a:hover, a:visited:hover {
    border-bottom: 2px solid #48dbdb;
    color: black; }

a:focus, a:active {
  color: rgba(68, 68, 68, 0.6);
  text-shadow: 1px 0 0 #d0d0d0; }

strong {
  font-weight: bold; }

ul {
  margin-left: 1.5em; }

figure img,
img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: block; }

@media screen and (min-width: 42em) {
  .smaller > img {
    width: 70%;
    padding: 1.5em 0; } }

.padded img {
  padding: 1.5em 0; }

.profile img {
  border-radius: 3px;
  height: 35vw;
  margin: 1.5em 0;
  max-height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 17%;
     object-position: 0 17%;
  width: 100%; }

figcaption, figcaption p, img + em {
  color: #aaaaaa;
  display: block;
  font-size: small;
  text-align: center; }

time, article time + span, article time + span + p {
  color: #48dbdb;
  font-family: "Montserrat", Lucida Grande, Helvetica, sans-serif;
  font-size: 70%;
  letter-spacing: 1px;
  text-transform: uppercase; }
  @media screen and (min-width: 42em) {
    time, article time + span, article time + span + p {
      font-size: 85%; } }

table {
  border-collapse: collapse;
  margin: 1.5em auto; }
  table th {
    border-bottom: 3px double #48dbdb;
    font-weight: bold;
    text-align: center; }
    table th:not(:last-child) {
      border-right: 1px solid #48dbdb; }
  table td {
    padding: 0.25em 0.75em; }
    table td:not(:last-child) {
      border-right: 1px solid #48dbdb; }

blockquote {
  background-color: #eaeaea;
  border-left: 8px solid #48dbdb;
  padding: 0 1.5em;
  margin: 1.5em 0; }
  blockquote code {
    background-color: #d0d0d0; }
  @media screen and (min-width: 42em) {
    blockquote {
      margin: 1.5em 0 1.5em 3em; } }

code, pre {
  font-family: monospace;
  background-color: #eaeaea;
  border-radius: 3px;
  overflow-x: auto;
  padding: 0.75em;
  margin: 0.75em 0;
  font-size: 90%; }

code {
  padding: 2px 6px;
  position: relative;
  top: -1px; }

pre {
  padding: 1.5em; }

.highlight {
  background: transparent !important; }

#quote-text {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: rgba(68, 68, 68, 0.8);
  font-family: "Amatic SC", Helvetica Neue, sans-serif;
  font-size: 8vw;
  padding: 0.75em;
  text-align: center; }
  @media screen and (min-width: 42em) {
    #quote-text {
      font-size: 6vw; } }
  @media screen and (min-width: 64em) {
    #quote-text {
      font-size: 4vw; } }

#quote-author {
  color: rgba(255, 255, 255, 0.7);
  float: right;
  font-family: "Satisfy", cursive;
  font-size: 3vw;
  padding: 0 0.375em; }
  @media screen and (min-width: 42em) {
    #quote-author {
      font-size: 2vw; } }

#homepage {
  background: url(/images/homepage.jpg);
  background-size: cover; }
  #homepage section {
    margin: 0; }
    @media screen and (min-width: 42em) {
      #homepage section {
        margin: 4.5em 0; } }
  #homepage footer, #homepage header {
    width: 80%;
    max-width: 42em;
    margin: 3em auto;
    border-radius: 3px; }
    #homepage footer a:focus, #homepage footer a:active, #homepage header a:focus, #homepage header a:active {
      color: #6a6a6a;
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease; }

footer, header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(68, 68, 68, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", Lucida Grande, Helvetica, sans-serif;
  padding: 0.5em 1.5em; }
  @media screen and (min-width: 42em) {
    footer, header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  footer a, footer a:visited, header a, header a:visited {
    border: 0;
    color: rgba(68, 68, 68, 0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    footer a:hover, footer a:visited:hover, header a:hover, header a:visited:hover {
      border: 0;
      color: #444444;
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease;
      text-shadow: 1px 0 0 #656565; }
    footer a:focus, footer a:active, footer a:visited:focus, footer a:visited:active, header a:focus, header a:active, header a:visited:focus, header a:visited:active {
      color: #919191;
      text-shadow: 1px 0 0 #919191;
      -webkit-transition: all 350ms ease;
      transition: all 350ms ease; }
  footer ul, header ul {
    margin: 0;
    padding: 0; }
  footer li, header li {
    display: inline-block;
    list-style: none;
    padding: 0 0.75em; }
    @media screen and (min-width: 42em) {
      footer li:first-child, header li:first-child {
        padding-left: 0; }
      footer li:last-child, header li:last-child {
        padding-right: 0; } }
  footer nav, header nav {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; }

header #logo {
  font-family: "Miniver", cursive;
  font-size: 24px; }

header nav {
  font-size: 90%;
  margin: 0.5em 0; }

footer {
  margin-top: 3em; }
  footer nav {
    font-size: 80%;
    padding-top: 0.5em; }
    @media screen and (min-width: 42em) {
      footer nav {
        padding: 0; } }
  footer #copy {
    font-size: 70%; }
  footer #contact p {
    display: none; }

.slide, .slide:visited {
  border: 3px solid #48dbdb;
  border-radius: 3px;
  color: #48dbdb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", Lucida Grande, Helvetica, sans-serif;
  font-size: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75em;
  position: relative;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  width: 48%; }
  @media screen and (min-width: 42em) {
    .slide, .slide:visited {
      width: 45%; } }
  .slide span, .slide:visited span {
    text-transform: uppercase;
    display: block;
    font-size: 120%; }

.slide:before {
  position: absolute;
  top: 0px;
  width: 0px;
  height: 100%;
  z-index: -1;
  content: '';
  background: rgba(72, 219, 219, 0.9);
  -webkit-transition: all 700ms cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 700ms cubic-bezier(0.4, 0, 0.6, 1); }

.slide:hover {
  color: #f2fdfd !important;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  border: 3px solid #48dbdb; }
  .slide:hover:before {
    width: 100%; }

.slide:focus, .slide:active {
  background: #27c9c9;
  border-color: #27c9c9; }

.rtl {
  text-align: right; }

.rtl:before {
  right: 0px; }

.rtl:hover:before {
  left: 0%;
  right: auto; }

.ltr:before {
  left: 0px; }

.ltr:hover:before {
  right: 0%;
  left: auto; }

/*# sourceMappingURL=main.css.map */
