/* RESET */

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, img, a, .icon {
  margin: 0;
  padding: 0;
}

/* BASIC STYLING */

html {
  height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "kern" 1;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
  font-kerning: normal;
}

img {
  width: 100%;
  height: auto;
}

figure > img {
  display: block;
}

a, a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid $main-color;
  

  &:hover {
    border-bottom: 3px solid $main-color;
  }
}

/* BLOCKQUOTES */

blockquote {
  background-color: $light-gray;
  border-left: 5px solid $main-color;
  float: right;
}

/* CODE FORMATTING */

pre, code {
  font-family: monospace;
  background-color: #efefef;
  border: 1px solid $light-gray;
  border-radius: 3px;
  overflow-x: auto;
}

code {
  padding: 2px 5px;
}

pre {
  padding: 10px;

  > code {
    border: 0;
    padding: 1px;
  }
}

/* ICONS */

.icon {
  > svg {
    height: 16px;
    width: 16px;
    display: inline;
    vertical-align: middle;
    path {
      fill: currentColor;
    }
  }
}
