/* RESET */

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, img, .icon {
  margin: 0;
  padding: 0;
}

/* BASIC STYLING */

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "kern" 1;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
  font-kerning: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:visited {
  color: $text-color;
  text-decoration: underline;
  text-decoration-color: $main-color;
    -moz-text-decoration-color: $main-color;

  &:hover {
    text-decoration-color: $text-color;
  }
}

/* BLOCKQUOTES */

blockquote {
  background-color: $light-gray;
  border-left: 5px solid $main-color;
  float: right;
}

/* CODE FORMATTING */

pre, code {
  font-family: monospace;
  background-color: $light-gray;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
}

/* ICONS */

.icon {
  > svg {
    height: 16px;
    width: 16px;
    display: inline;
    vertical-align: middle;
    path {
      fill: $gray;
    }
  }
}
