/* HEADER */
#site-header {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    min-height: 50px;
    text-align: center;
    padding: 5px 25px 0 25px;
}

#site-title {
    font-size: 1.5em;
    font-family: 'Miniver', cursive;
    text-decoration: none;
    border: none;
}

#main-nav {
    li {
        display: inline;
        list-style: none;
        padding: 5px 10px 0 10px;
        vertical-align: middle;
    }
                    
    a {
        text-decoration: none;
        text-transform: uppercase;
        border: none;

        &:hover {
            font-weight: bold;
            border: none;
        }
    }
}

/* PAGES */

#page-title {
    font-size: 2em;
    margin-bottom: 20px;
}

#link-list {
    margin-left: 20px;
}

#post-title {
    font-size: 1.3em;
}

#post-list {
    list-style: none;
}

.rss-subscribe {
    text-align: right;
    font-size: 0.9em;
}

/* POSTS */

.post-meta {
    font-size: 0.8em;
    color: $main-color;
    margin-bottom: 20px;
}

.post-date {
    color: $main-color;
}

.content p {
    padding: 10px 0;
    text-align: justify;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 0.8em;

    a {
        text-decoration: none;
        border: none;

        &:hover {
            border: none;
            font-weight: bold;
        }
    }

    li {
        display: inline;
        list-style: none;
        padding: 10px;
    }
}

#pages {
    text-transform: uppercase;
}

/*-----------------
  RESPONSIVE COLUMNS
  ------------------*/

/* NARROW FIRST */

[class*='col-'] {
    width: 100%;
    padding: 5px 10px;
}

/* MEDIUM*/

@include media-query($medium) {
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }

    #pages, #main-nav {
        float: right;
        text-align: right;
    }

    #copyright {
        text-align: left;
    }

    #site-title {
        float: left;
        text-align: left;
    }
}


/* WIDE */

@include media-query($wide) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    #contact, #pages, #main-nav {
        float: right;
    }

    #contact, #main-nav {
        text-align: right;
    }

    #copyright {
        float: left;
        text-align: left;
    }

    #site-title {
        float: left;
        text-align: left;
    }
}


.container {
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
}

.row:after {
    content: '';
    clear: both;
    display: block;
}

main {
    flex: 1;
}