/* HEADER */

#site-header {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 50px;
  text-align: center;
  padding: 5px 15px 0 10px;
}

#site-title {
  font-size: 1.5em;
  font-color: #fefefe;
  font-family: 'Miniver', cursive;
  text-decoration: none;
}

#main-nav {
  li {
    display: inline;
    list-style: none;
    padding: 5px 10px 0 10px;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      font-weight: bold;
    }
  }
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;

  a {
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px;
  }
}

/*-----------------
  RESPONSIVE COLUMNS
  ------------------*/

/* NARROW FIRST */

[class*='col-'] {
  width: 100%;
  padding: 5px;
}

/* MEDIUM*/

@include media-query($medium) {

  .col-m-1 { width: 8.33%; }
  .col-m-2 { width: 16.66%; }
  .col-m-3 { width: 25%; }
  .col-m-4 { width: 33.33%; }
  .col-m-5 { width: 41.66%; }
  .col-m-6 { width: 50%; }
  .col-m-7 { width: 58.33%; }
  .col-m-8 { width: 66.66%; }
  .col-m-9 { width: 75%; }
  .col-m-10 { width: 83.33%; }
  .col-m-11 { width: 91.66%; }
  .col-m-12 { width: 100%; }

  #pages, #main-nav {
    float: right;
    text-align: right;
  }
  
  #copyright {
    text-align: left;
  }

  #site-title {
    float: left;
    text-align: left;
  }
}

/* WIDE */

@include media-query($wide) {
  
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 41.66%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 66.66%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }

  #contact, #pages, #main-nav {
    float: right;
  }

  #contact, #main-nav {
    text-align: right;
  }

  #copyright {
    float: left;
    text-align: left;
  }

  #site-title {
    float: left;
    text-align: left;
  }
}

.container {
  margin: 0 auto;
}

.row:after {
  content: '';
  clear: both;
  display: block;
}

