{{ partial "header.html" . }}

  <section>
    <article>
      <h1>{{ title .Title }}</h1>
      <time>{{ .Date.Format "January 2, 2006" }}</time><span>•</span><p>{{ .ReadingTime }} min read</p>
      {{ .Content }}

      <nav>
      {{ if .PrevInSection }}
        <a class='slide ltr' href="{{ .PrevInSection.Permalink }}"><span>Previous</span>{{ title .PrevInSection.Title }}</a>
      {{ end }}
      {{ if .NextInSection }}
        <a class='slide rtl' href="{{ .NextInSection.Permalink }}"><span>Next</span>{{ title .NextInSection.Title }}</a>
      {{ end }}
      </nav>

    </article>

    <aside>
      {{ template "_internal/disqus.html" . }}
    </aside>
  </section>

{{ partial "footer.html" . }}
