{{ partial "header.html" . }}

  <section>
    <article itemscope="itemscope" itemType="http://schema.org/BlogPosting">
      <meta itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{ .Site.BaseURL }}">
      <meta itemprop="dateModified" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
      <meta itemprop="headline" content="{{ title .Title }}">
      <meta itemprop="description" content="{{ .Summary }}">
      <meta itemprop="url" content="{{ .Permalink }}">
      <meta itemprop="author" itemscope itemtype="https://schema.org/Person" content="{{ .Site.Params.Author }}">

      <h1>{{ title .Title }}</h1>
      <time itemprop="datePublished" pubdate="pubdate" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "January 2, 2006" }}</time><span>•</span><p>{{ .ReadingTime }} min read</p>
      {{ .Content }}

      <nav>
      {{ if .PrevInSection }}
        <a class='slide ltr' href="{{ .PrevInSection.Permalink }}"><span>Previous</span>{{ title .PrevInSection.Title }}</a>
      {{ end }}
      {{ if .NextInSection }}
        <a class='slide rtl' href="{{ .NextInSection.Permalink }}"><span>Next</span>{{ title .NextInSection.Title }}</a>
      {{ end }}
      </nav>

    </article>

    <aside>
      {{ template "_internal/disqus.html" . }}
    </aside>
  </section>

{{ partial "footer.html" . }}
