$quote-font: 'Amatic SC', Helvetica Neue, sans-serif
$base-font: 'Oxygen', Helvetica Neue, Helvetica, Arial, sans-serif
$header-font: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif
$logo-font: 'Miniver', cursive
$base-font-size: 1em
$base-line-height: 1.5
$base-font-weight: 400

$gray: #333333
$light-gray: lighten($gray, 20%)

$see-through-background: rgba(255, 255, 255, 0.3)


body
  background: url(/images/homepage.jpg)
  background-size: cover

#quote
  width: 80vw
  max-height: 80vh
  margin: auto
  text-align: center

#quote-text
  font-family: $quote-font
  color: $light-gray
  font-size: 8vw
  background-color: $see-through-background

