#homepage
  background-size: cover
  background: url(/images/homepage.jpg)

#quote
  margin: auto
  max-height: 80vh
  text-align: center
  width: 80vw

#quote-text
  background-color: $see-through-background
  border-radius: $base-border-radius
  color: $light-gray
  font-family: $quote-font
  font-size: 8vw
  padding: $padding/3
  position: relative
  top: 10vh

#quote-author
  color: $less-transparent-background
  float: right
  font-family: $quote-author-font
  font-size: 3vw
  padding: $padding/2
  position: relative
  top: 8vh

