$base-font: 'Oxygen', Helvetica Neue, Helvetica, Arial, sans-serif
$header-font: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif
$logo-font: 'Miniver', cursive
$base-font-size: 1em
$base-line-height: 1.5
$base-font-weight: 400

// COLORS
$gray: #333333
$light-gray: lighten($gray, 60%)
$lighter-gray: lighten($gray, 70%)
$lightest-gray: #fdfdfd
$main-color: #48dbdb

$text-color: $gray
$secondary-text: lighten($gray, 40%)
$background-color: $lightest-gray

// STYLING
$thin-border: 1px solid $main-color
$medium-border: 3px solid $main-color
$thick-border: 8px solid $main-color


$base-font: 'Oxygen', Helvetica Neue, Helvetica, Arial, sans-serif
$header-font: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif
$logo-font: 'Miniver', cursive
$base-font-size: 16px
$base-line-height: 1.5
$base-font-weight: 400
$padding: 1.5em
$base-border-radius: 3px

$text-color: $gray
$background-color: $lightest-gray

$small-screen: 42em

// TRANSITIONS
$long-duration: 2s
$base-timing: 500ms


